*{
    box-sizing: border-box;
}

h1{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    background-color:black;
    height: 50px ;
    padding: 20px;
}

.main{
    background-color:black;
    padding: 20px ;
    display: flex;
    flex-wrap: wrap;
}


nav{
    background-color: brown;
    flex-grow: 1;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    background-color:brown;
    color: white;
    font-size: 20px;
    padding: 2px;
    margin-bottom: 1px;
}

article{
    background-color:white;
    flex-grow: 2;
    padding-left: 20px;
    font-size: 19px;
}

aside{
    background-color: brown; 
    flex-grow: 1;   
    color: white;
    padding-left: 10px;
}
.info{
    display: flex;  
    padding: 20px;
    color:white;
}
.info div{
    flex-grow: 1; 
}
.noticias{
    display: flex;
    flex-wrap: wrap;
}

.noticias div{
    flex-grow: 1;
    background-color:brown;
    margin: 20px;
    min-width: 120px;
    font-size: 30px;
    
}

.noticias div img{
    width: 600px;
}
.noticias div h3{
    font-size: 40px;
    text-align: center;
}
body{
    margin: 1px; 

}
h1{
    margin: 1px;
}